.wy-nav-content {
max-width: 1240px !important;
}

.wy-menu-vertical a {
	font-size: 92%;
}

.wy-menu-vertical li code, .wy-menu-vertical li .rst-content tt, .rst-content .wy-menu-vertical li tt {
    font-size: 100%;
}