[Unit]
Description=LWPU fabric manager service
After=network-online.target
Requires=network-online.target

[Service]
User=root
PrivateTmp=false
Type=forking
TimeoutStartSec=240

ExecStart=/usr/bin/lw-fabricmanager -c /usr/share/lwpu/lwswitch/fabricmanager.cfg

LimitCORE=infinity

[Install]
WantedBy=multi-user.target
