[Unit]
Description=FabricManager service
After=network-online.target
Requires=network-online.target

[Service]
User=root
PrivateTmp=false
Type=forking
TimeoutStartSec=90

ExecStart=/usr/bin/lw-hostengine -l -g --log-level 4 --log-rotate --log-filename /var/log/fabricmanager.log

[Install]
WantedBy=multi-user.target
