#include <windows.h>
#include <ntverp.h>
#include "lwntver.h"

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM

#define VER_FILEDESCRIPTION_STR     "LWPU Windows Kernel Mode Driver, Version " LW_VERSION_STRING " \0"

#ifdef VER_PRODUCTNAME_STR
#undef VER_PRODUCTNAME_STR
#endif
#define VER_PRODUCTNAME_STR         "LWPU Windows Kernel Mode Driver, Version " LW_VERSION_STRING " \0"

#define VER_ORIGINALFILENAME_STR    "lwmetf.sys"
#define VER_INTERNALNAME_STR        VER_ORIGINALFILENAME_STR

#ifndef VER_FILEVERSION
#define VER_FILEVERSION VER_PRODUCTVERSION
#endif

#ifndef VER_FILEVERSION_STR
#define VER_FILEVERSION_STR "3"
#endif

#ifndef LWMEFT_INTERFACE_VERSION_STR
#define LWMEFT_INTERFACE_VERSION_STR "2"
#endif

#ifndef VER_VERSION_UNICODE_LANG
  #define VER_VERSION_UNICODE_LANG  "040904B0" /* LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP */
#endif
#ifndef VER_VERSION_TRANSLATION
  #define VER_VERSION_TRANSLATION   0x0409, 0x04B0
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION    VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK  VER_FILEFLAGSMASK
FILEFLAGS      VER_FILEFLAGS
FILEOS         VER_FILEOS
FILETYPE       VER_FILETYPE
FILESUBTYPE    VER_FILESUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK VER_VERSION_UNICODE_LANG
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
            VALUE "InterfaceVersion", LWMEFT_INTERFACE_VERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", VER_VERSION_TRANSLATION
    END
END
