html *
{
	font-size: 12pt;
	color: #000;
}

body
{
	padding: 0em;
	margin: 0em;
}

.UITreeView
{
	position: relative;
	font-family: Consolas, Courier New;
}

.UITreeView ul
{
	margin: 0;
	padding: 0;
}

.UITreeView li
{
	margin: 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: none;
	cursor: auto;
}

/* TreeView leafs will have this list style type */
.UITreeView .UITreeViewNode li
{
	list-style-type: square;
}

/* Expanded branch node bullet style */
.UITreeView li.UITreeViewNodeOpened:before
{
	color: #999;
	vertical-align: 0.1em;
	content: "\2212\00a0";
}
/* Expanded branch node style */
.UITreeView li.UITreeViewNodeOpened
{
	list-style-type: none !important;
	cursor: pointer;
}

/* Collapsed branch node bullet style */
.UITreeView li.UITreeViewNodeClosed:before
{
	color: #999;
	vertical-align: 0.1em;
	content: "\002B\00a0";
}
/* Collapsed branch node style */
.UITreeView li.UITreeViewNodeClosed
{
	list-style-type: none !important;
	cursor: pointer;
}

/* Regular branch node style */
.UITreeView li
{
	margin-left: 0.0em;
	padding-left: 0.5em;
	border-left: 1px dashed #DDD;
}

/* Non-branching nodes, per nesting level mod 5 */
.UITreeView .nestedCls0 { background: #FAFAFA; }
.UITreeView .nestedCls1 { background: #FAFAFA; }
.UITreeView .nestedCls2 { background: #FAFAFA; }
.UITreeView .nestedCls3 { background: #FAFAFA; }
.UITreeView .nestedCls4 { background: #FAFAFA; }

/* Branching nodes (a.k.a multi-nodes), per nesting level mod 5 */
.UITreeView .nestedCls0 > .multiNode > ul { background: #EFF; }
.UITreeView .nestedCls1 > .multiNode > ul { background: #FEF; }
.UITreeView .nestedCls2 > .multiNode > ul { background: #FFE; }
.UITreeView .nestedCls3 > .multiNode > ul { background: #EEF; }
.UITreeView .nestedCls4 > .multiNode > ul { background: #EFE; }

/* Multi-node common style */
.UITreeView .multiNode > ul
{
	margin-left: 1.0em;
	padding-left: 0.1em;
	border-left: 1px solid #999;
}
.UITreeView .multiNode > ul > li
{
	border-left: 0;
}

/* Text elements styles */

.UITreeView .leakEntry
{
}
.UITreeView .leakEntry:hover
{
	text-decoration: underline;
}

.UITreeView .leakedBin
{
	font-weight: bold;
}

.UITreeView .leakedFunc
{
}

.UITreeView .leakedOffset
{
}

.UITreeView .leakedBytesSummary:before
{
	color: #999;
	content: "\25BA\00a0";
}

.UITreeView .leakedBytes
{
	color: #B11;
}

.UITreeView .leakedBytesText
{
	color: #999;
}

.UITreeView .leakedBytesNode
{
	color: #B11;
}

.UITreeView .leakedNum
{
	color: #999;
}

.UITreeView .leakedNumText
{
	color: #999;
}

