#
# Copyright (c) 2017 LWPU Corporation.  All rights reserved.
#
# LWPU Corporation and its licensors retain all intellectual property and proprietary
# rights in and to this software, related documentation and any modifications thereto.
# Any use, reproduction, disclosure or distribution of this software and related
# documentation without an express license agreement from LWPU Corporation is strictly
# prohibited.
#
# TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THIS SOFTWARE IS PROVIDED *AS IS*
# AND LWPU AND ITS SUPPLIERS DISCLAIM ALL WARRANTIES, EITHER EXPRESS OR IMPLIED,
# INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
# PARTICULAR PURPOSE.  IN NO EVENT SHALL LWPU OR ITS SUPPLIERS BE LIABLE FOR ANY
# SPECIAL, INCIDENTAL, INDIRECT, OR CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING, WITHOUT
# LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, LOSS OF
# BUSINESS INFORMATION, OR ANY OTHER PELWNIARY LOSS) ARISING OUT OF THE USE OF OR
# INABILITY TO USE THIS SOFTWARE, EVEN IF LWPU HAS BEEN ADVISED OF THE POSSIBILITY OF
# SUCH DAMAGES
#

# Editor Config plugs into all the major editors and configures a few simple
# settings for indent and newline colwentions.
# See http://editorconfig.org for file details

# Stop searching for more .editorconfig files above this directory
root = true

# editor config files
[.editorconfig]
trim_trailing_whitespace = true
insert_final_newline = true

# GNU/lwmake makefiles
[*.lwmk]
indent_size = 2
# Make TABed command-lines in lwmk files stand out
tab_width = 8
insert_final_newline = true
trim_trailing_whitespace = true

# C++/LWCA source file options
[*.{cpp,h,lw}]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# These are all 2
[include/**.{c,cpp,h,hpp,lw}]
indent_size = 2
