/bin/
/lwdnn-7.4.0/
/obj/
/tmp/

tags
build.log

/compiler/
cmake-build-*/
/build/
xmma_jit/build/
.idea
.settings
.project
.cproject
*~
.vscode
*.swp
__pycache__
*.log

/samples/*/generated/
/samples/*/bin/
/samples/*/obj/
/samples/*/Makefile
