# Temporary files
*.swp
*~
.DS_Store
TAGS

# Compiled / optimized files
*.py[cod]

# Tests
/.coverage

# virtualelw
/velw/

# setuptools
/build/
/dist/
*.egg-info/

#Intellij files
.idea/

#vscode
.vscode/

#.project
.project
/.project

#.tb
.tb/
