include requirements*.txt
relwrsive-include digits/templates *
relwrsive-include digits/static *
relwrsive-include digits/standard-networks *
relwrsive-include digits/tools/torch *
relwrsive-include digits/tools/tensorflow *
relwrsive-include digits/extensions *.css
relwrsive-include digits/extensions *.html
relwrsive-include digits/extensions *.js
