integratedTV3/ filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_lwphy_pdsch-TC301_snrdb100.00_iter1_MIMO4x4_PRB272_DataSyms11_qam256.h5 filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_lwphy_pdsch-TC301_snrdb40.00_iter1_MIMO4x4_PRB272_DataSyms11_qam256.h5 filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_lwphy_pdsch-TC301b_snrdb40.00_iter1_MIMO4x4_PRB248_DataSyms11_qam256.h5 filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_lwphy_perf-pusch-TC310_snrdb40.00_MIMO1x4_PRB272_DataSyms11_qam64.bin filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_lwphy_perf-pusch-TC310_snrdb40.00_MIMO1x4_PRB272_DataSyms11_qam64.h5 filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_PUSCH_310_273PRB_16bit.h5 filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_PUSCH_310_273PRB_32bit.bin filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_lwphy_DL_ctrl-TC2001.h5 filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_lwphy_pdcch1.h5 filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_lwphy_pdcch2.h5 filter=lfs diff=lfs merge=lfs -text
integratedTV3/demo_config_params.h5 filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_lwphy_pdsch-TC301_slot7_MIMO4x4_PRB272_DataSyms11_qam256.h5 filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_lwphy_pdsch-TC301a_slot8_MIMO4x4_PRB272_DataSyms11_qam256.h5 filter=lfs diff=lfs merge=lfs -text
integratedTV3/TV_lwphy_pdsch-TC301b_slot0_MIMO4x4_PRB248_DataSyms11_qam256.h5 filter=lfs diff=lfs merge=lfs -text
