Source: torch7
Section: universe/science
Maintainer: Soumith Chintala <soumith@fb.com>
Priority: optional
Build-depends: debhelper(>=9), gfortran,
               liblapack-dev, libopenblas-dev,
               libqt4-core, libqt4-dev, libqt4-gui,
	       libreadline6, libreadline-dev, libnlwrses5,
               libjpeg8, libpng12-0, libjpeg-dev, libpng-dev,
               libsox2, libsox-dev, libzmq3-dev,
               cmake, git, sudo, unzip, ipython,
               lwca-toolkit-8-0, lwca-core-8-0, lwca-lwdart-dev-8-0, lwca-lwrand-dev-8-0, lwca-lwblas-dev-8-0, lwca-license-8-0,
               libhdf5-serial-dev,liblmdb-dev,
	       software-properties-common
Standards-Version: 3.9.5

Package: torch7-lw
Section: universe/tools
Architecture: amd64
Depends: ${misc:Depends},${shlibs:Depends},
               liblapack3, libopenblas-base,
               libqt4-core, libqt4-gui,
	       libreadline6, libnlwrses5,
               libjpeg8, libpng12-0,
               libgraphicsmagick1-dev, graphicsmagick,
               sox, libsox2, libsox-fmt-all,
               ipython,
               libzmq3,
               lwca-lwdart-8-0, lwca-lwrand-8-0, lwca-lwblas-8-0, lwca-license-8-0,
               liblwdnn5 (>=5.0.4-1),
               libhdf5-7,libhdf5-dev,gcc,
               liblmdb0 (>=0.9.10-1),libnccl1 (>=1.1.1),
	       software-properties-common
Conflicts: torch7, torch, lua-cjson, lua-penlight, lua-filesystem, luarocks, luajit
Description: LWpu Torch Bundle (with LWCA). Made for DIGITS.
 Scientific computing framework with wide support for machine learning
 algorithms. It uses Lua as a scripting interface and provides GPU acceleration
 for underlying computations.
