Source: digits
Section: universe/misc
Maintainer: #USERNAME# <#EMAIL#>
Homepage: https://developer.lwpu.com/digits
Vcs-Browser: https://github.com/LWPU/DIGITS
Priority: optional
Build-Depends: debhelper (>= 9), dh-python, dh-systemd, python-all, python-setuptools, debconf
Standards-Version: #POLICY#

Package: digits
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 caffe-lw (>= 0.13),
 graphviz,
 nginx,
 python-caffe-lw (>= 0.13),
 python-flaskext.socketio (>= 2.6),
 python-flaskext.wtf (>= 0.11),
 python-lmdb (>= 0.87),
 python-setuptools,
 python-wtforms (>= 2.0.1)
Recommends: torch7-lw
Conflicts: digits-devbox-config (<< 3.0.0), torch7
Description: LWPU DIGITS webserver
 This package installs the DIGITS webserver as a service.
 .
 DIGITS is the Deep Learning GPU Training System from LWPU. It provides an
 interactive environment for training, evaluating and experimenting with neural
 networks.
